.footer {
    background-color: #1a1a1a;
    color: #f7f7f7;
    height: 100%;

    &-head {
        font-family: "Chakra Petch", sans-serif;
        padding-bottom: 0.5rem;
    }

    &-link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 2rem !important;
        @media (max-width: 645px) {
            flex-wrap: wrap;
        }
    }

    &-link {
        margin: 0 2.5rem;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }

    &-link-icon {
        margin: 2.5rem;
        width: 100%;
        font-size: 1.2rem;

        @media (max-width: 645px) {
            flex: 0 0 35%;
        }
    }

    &-copyright-text {
        font-size: 1.2rem;
        //!important to override materialize-css default footer-copyright lighten effects
        background-color: #1a1a1a !important;
        color: #a0a0a0 !important;
    }
}
