@import "../../../abstracts/placeholders";
@import "../../../abstracts/variables";

.start {
    height: 100%;
    padding-top: 7rem;
    display: flex;
    background-image: url("/parts4.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;

    @media (max-width: 675px) {
        flex-wrap: wrap;
    }

    &-link:link,
    &-link:visited {
        margin: 5rem 5rem !important;
        height: 50vh;
        flex: 0 0 40%;
        z-index: 1;
        text-align: center;
        padding: 0;
        background-color: #292929 !important;
        border-radius: 16px;
        margin: auto;
        border: 1px white solid;
        transition: 0.3s;
        background: #232526; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #414345,
            #232526
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #414345,
            #232526
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        @media (max-width: 675px) {
            flex: 0 0 90%;
            height: 25vh;
        }

        &-upgrade {
            @media (max-width: 675px) {
                margin-top: 5rem !important;
            }
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    & a:hover {
        background-color: #4b4b4b;
        transform: scale(1.02);
    }

    &-btn {
        height: 100%;
        width: 100%;
        font-size: 6rem;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        color: white;

        @media (max-width: 1080px) {
            font-size: 4rem;
        }
    }

    &-btn p {
        height: 100%;
    }
}
