.hook {
    height: 50rem;
    position: relative;

    @media (max-width: 480px) {
        height: 60rem;
    }

    @media (max-width: 450px) {
        height: 54rem;
    }

    @media (max-width: 350px) {
        height: 55rem;
    }

    &-container {
        height: 40rem;
        top: -5%;
        width: 100%;
        position: relative;
    }

    &-inner-container {
        height: 100%;
        top: 20%;
        position: relative;
    }

    &-head {
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: "Chakra Petch", sans-serif;
        color: black;
        font-size: 4rem;
    }

    &-body {
        text-align: center;
        line-height: 1.5;
        font-size: 2rem;

        @media (max-width: 385px) {
            font-size: 1.8rem;
        }
    }

    &-btn-container {
        text-align: center;
        top: 35%;
        transform: translateY(-50%);
        position: relative;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 475px) {
            flex-direction: column;
            height: 30rem;
            margin: 5rem 0;
            width: 100%;
        }

        @media (max-width: 450px) {
            height: 20rem;
            margin-top: 1rem;
        }
    }

    &-btn:link,
    &-btn:visited {
        margin: 8%;
        text-decoration: none;
        color: black;
        height: 20rem;
        width: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-fill-mode: both;
        transition: 0.5s;
        border-radius: 8px;
        border: black solid 3px;
        text-transform: uppercase;

        @media (max-width: 600px) {
            margin: 3%;
        }

        @media (max-width: 515px) {
            margin: 2%;
            width: 100%;
        }
    }

    &-btn p {
        transition: 0.4s;
        position: relative;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 700;
    }

    &-btn:hover p {
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

.build {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;
        background-image: url("/build.jpg");
        background-size: cover;
        background-position: top;
        transition: 0.3s;
        top: 100%;
        visibility: hidden;
        filter: blur(0);

        @media (max-width: 475px) {
            background-position: center;
        }
    }

    &:hover::after {
        top: 0;
        visibility: visible;
        filter: blur(2.5px);
    }
}

.upgrade {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;
        background-image: url("/upgrade.jpg");
        background-size: cover;
        background-position: top;
        transition: 0.3s;
        top: 100%;
        visibility: hidden;
        filter: blur(0);
    }

    &:hover::after {
        top: 0;
        visibility: visible;
        filter: blur(2.5px);
    }
}
