@import "../../../abstracts/mixins";

.presets {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    background-image: url("/parts6.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
    padding-top: 20rem;
    padding-bottom: 5rem;

    @media (max-width: 1275px) {
        clip-path: polygon(0 7.5%, 100% 0, 100% 100%, 0% 100%);
    }

    @include media(tablet-p) {
        clip-path: polygon(0 3.5%, 100% 0, 100% 100%, 0% 100%);
        padding-top: 12rem;
    }

    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        overflow: hidden;
    }

    &-head {
        color: black;
        padding-top: 20rem;
        text-align: center;
        position: relative;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 4rem;
        width: 75%;
        padding: 2% 0;
        z-index: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 1070px) {
            width: 85%;
            font-size: 3.3rem;
            padding-left: 7%;
            padding-right: 7%;
        }

        @media (max-width: 720px) {
            width: 100%;
            padding: 3rem 0;
            margin-top: 6rem;
        }

        @media (max-width: 625px) {
            font-size: 2.8rem;
        }

        @media (max-width: 400px) {
            padding-left: 5%;
            padding-right: 5%;
        }

        &::after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background: #d53369; /* fallback for old browsers */
            background: -webkit-linear-gradient(
                to right,
                #eec75e,
                #d53369
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
                to right,
                #f5bc41,
                #d53369
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            position: absolute;
            clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);

            @media (max-width: 720px) {
                clip-path: none;
            }
        }
    }

    &-container {
        height: 100%;
        margin: 0 3%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: rgb(34, 34, 34);
        padding: 3rem 0;
        border-radius: 12px;
    }
}
