.infoform {
    &-head {
        font-weight: 700;
        text-transform: uppercase;
        color: black;
    }

    &-sub {
        margin-bottom: 5rem;
    }

    &-container {
        padding: 0 20%;

        @media (max-width: 600px) {
            padding: 0 8%;
        }

        & .row {
            margin: 0;
        }
    }

    &-input {
        margin-top: 2rem !important;

        @media (max-width: 450px) {
            margin-top: 3rem !important;
        }

        @media (max-width: 384px) {
            margin-top: 4rem !important;
        }
    }
}

.input-field {
    & label {
        color: grey;
        font-size: 1.7rem;
    }
}

//gets rid of materialize form input bug
input[type="text"] + label {
    pointer-events: none;

    * {
        pointer-events: all;
    }
}

.btn-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}
