.overview {
    &-body {
        font-size: 2rem;
    }

    &-details {
        margin-top: 5rem;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 680px) {
            flex-wrap: wrap;
        }

        &-img {
            @media (max-width: 992px) {
                height: 30rem;
            }

            @media (max-width: 680px) {
                margin-bottom: 7rem;
            }
        }

        &-list {
            padding-top: 1.5rem;
            font-size: 2.2rem;
            line-height: 2;
            letter-spacing: 0.4rem;
            font-weight: 700;
            text-transform: uppercase;

            &-2 {
                opacity: 0.6;
            }

            &-3 {
                opacity: 0.4;
            }

            &-4 {
                opacity: 0.15;
            }
        }
    }
}
