//materialize-css
@import "./materialize/sass/materialize.scss";

@import "./abstracts/mixins";

@import "./base/reset";
@import "./base/animations";

//Components outside React Router Switch
@import "./components/navbar";
@import "./components/footer";

//Home Page
@import "./components/pages/Home/header";
@import "./components/pages/Home/hook";
@import "./components/pages/Home/presetscontainer";
@import "./components/pages/Home/preset";

//Build Page
@import "./components/pages/Builds/buildheader";
@import "./components/pages/Builds/buildcontainer";
@import "./components/pages/Builds/overview";
@import "./components/pages/Builds/peripheral";
@import "./components/pages/Builds/infoform";

//Submitted Page
@import "./components/pages/Submitted/submitted";

//Start Page(s)
@import "./components/pages/Start/start";
@import "./components/pages/Start/startbuild";
@import "./components/pages/Start/startupgrade";

//About and Contact Pages
@import "./components/pages/about";
@import "./components/pages/contact";

//404 Page
@import "./components/pages/404";

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Chakra Petch";
    src: url("/fonts/ChakraPetch-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Chakra Petch";
    src: url("/fonts/ChakraPetch-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Chakra Petch";
    src: url("/fonts/ChakraPetch-Bold.ttf");
    font-weight: 700;
}
