@import "../../abstracts/placeholders";

.contact {
    background-image: url("/parts8.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 10rem;
    min-height: calc(100vh - 64px - 198px);

    &-head {
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: "Chakra Petch", sans-serif;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 4rem;
        width: 65%;
        padding: 2% 0;

        @media (max-width: 720px) {
            width: 100%;
            padding: 4% 0;
            font-size: 3.5rem;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background: #d53369; /* fallback for old browsers */
            background: -webkit-linear-gradient(
                to right,
                #eec75e,
                #d53369
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
                to right,
                #f5bc41,
                #d53369
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);

            @media (max-width: 720px) {
                clip-path: none;
            }
        }
    }

    &-container {
        height: 100%;
        margin: 0 3%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: rgb(34, 34, 34);
        padding: 3rem 0;
        border-radius: 12px;
        margin-bottom: 2rem;
        margin-top: 20rem;

        &-bottom {
            margin-bottom: 3rem !important;
        }
    }

    &-body {
        font-family: "Chakra Petch", sans-serif;
        color: white;
        padding: 3%;

        @media (max-width: 442px) {
            font-size: 2.5rem;
        }

        &-email {
            color: rgb(253, 112, 99);
        }
    }
}
